<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.sua.mapper.SuaDocDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.sua.model.SuaDocDetail">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="time" property="time" />
        <result column="doc_size" property="docSize" />
        <result column="tag" property="tag" />
        <result column="type_id" property="typeId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_id" property="createId" />
    </resultMap>





    <!--    插入文章-->
    <insert id="addDoc">
        insert into sua_doc_detail (name, tag, type_id, note, content,create_id,create_time,modify_time)
        values (#{param.name}, #{param.tag}, #{param.typeId}, #{param.note},
                #{param.content},
                #{param.create_id},
                #{param.create_time},
                #{param.modify_time},
                )
    </insert>

    <!--    获取文件列表-->
    <select id="getDocListByFolder"  resultType="java.util.Map">
       select * from sua_doc_detail where type_id=#{id}

    </select>


<!--    获取根目录-->

    <select id="getFolderByParentId" resultType="java.util.Map">
        select * from sua_doc_folder where parent_id=#{pid}
    </select>


    <select id="deleteDoc">
        DELETE
        FROM sua_doc_detail
        WHERE id = #{id}
    </select>

    <select id="deleteFolder">
        DELETE
        FROM sua_doc_folder
        WHERE id = #{id}
    </select>


    <select id="editDoc">
        UPDATE sua_doc_detail
        SET name   = #{param.name},
            tag= #{param.tag},
            type_id= #{param.typeId},
            content= #{param.content},
            note= #{param.note}
            modifyTime= #{param.modifyTime}
        where id = #{param.id}
    </select>

    <select id="getDocDetail" resultType="java.util.Map">
        Select *
        FROM sua_doc_detail
        WHERE id = #{id}
    </select>









</mapper>
